# Homework 1

In [1]:
import numpy as np
import pandas as pd

## Task 1

### Load an array and transform it into the datagrame:

In [8]:
array = np.load("arr_pandas.npy", allow_pickle = True)
df = pd.DataFrame(array)
df

                     0     1     2         3         4       5
0   Aonach Mor Gondola   2.0  2000  0.403611  0.518889  uphill
1    Broughton Brewery   2.0   650  0.254444  0.316667   other
2          El-Brim-Ick   3.0   750  0.485833  0.389167   other
3   The Devils Burdens  21.0  4100  2.399722  3.093333   relay
4        Tiso Carnethy   6.0  2500  0.782222  0.919167    hill
..                 ...   ...   ...       ...       ...     ...
72               Tinto   4.5  1500  0.499444  0.581111    hill
73          Druim Fada   6.5  1000  0.751111  0.972222   other
74              Elrick   3.6   650  0.358056    0.4425   relay
75             Gondola   2.5  2000  0.387222  0.518889  uphill
76         Greenmantle   2.0   650  0.254444  0.316667   other

[77 rows x 6 columns]

## Task 2

### Get amount of rows and columns by code:

In [9]:
len(df)

77

In [10]:
len(df.columns)

6

## Task 3

### Assign names to the columns: "id" of participant; "dist" in miles; "climb" as an altitude reached on the route; "time" in hours; "timef" in hours for women; "type" (hill, marathon, relay, uphill or other).

In [11]:
df.columns = ["id", "dist", "climb", "time", "timef", "type"]
df

                    id  dist climb      time     timef    type
0   Aonach Mor Gondola   2.0  2000  0.403611  0.518889  uphill
1    Broughton Brewery   2.0   650  0.254444  0.316667   other
2          El-Brim-Ick   3.0   750  0.485833  0.389167   other
3   The Devils Burdens  21.0  4100  2.399722  3.093333   relay
4        Tiso Carnethy   6.0  2500  0.782222  0.919167    hill
..                 ...   ...   ...       ...       ...     ...
72               Tinto   4.5  1500  0.499444  0.581111    hill
73          Druim Fada   6.5  1000  0.751111  0.972222   other
74              Elrick   3.6   650  0.358056    0.4425   relay
75             Gondola   2.5  2000  0.387222  0.518889  uphill
76         Greenmantle   2.0   650  0.254444  0.316667   other

[77 rows x 6 columns]

## Task 4

### Get the climb value of a participant named Norman's Law

In [21]:
df[df["id"] == "Norman's Law"]

             id dist climb      time     timef  type
7  Norman's Law  5.0   700  0.464167  0.609167  hill

In [25]:
df[df["id"] == "Norman's Law"]["climb"].squeeze()

700